extend layout

block script
    script(type="text/javascript").
        $(document).ready(function() {
            var name = $("#name");
            $("#frmAdd").on("submit", function(e) {
                e.preventDefault();

                
                if (name.val().trim() == "") {
                    alert("#{resources.bookname} cannot be empty");
                    name.focus();
                    return;
                } 

                var barcode = $("#barcode");
                if (barcode.val().trim() == "") {
                    alert("#{resources.barcode} cannot be empty");
                    barcode.focus();
                    return;
                } 

                this.submit();
            });
            
            $("#addcontinue").on("click", function(e) {
                $("#continue").val("yes");
                $("#frmAdd").submit();
            });
            
            $("#back").on("click", function(e) {
                history.back(-1);              
            });
            
            name.focus();
        });
        
block content
    div.divInput(style="margin-left:100px;padding:30px;width:300px")
        form(id="frmAdd" method="post" action="/add")
            input(type="hidden" id="continue" name="continue" value="no")
            table
                tr
                    td 
                        label(for="name")= resources.bookname
                    td *
                    td
                        input(id="name" name="name")
                tr
                    td 
                        label(for="series")= resources.bookseries
                    td 
                    td
                        input(id="series" name="series")
                tr
                    td
                        label(for="author")= resources.bookauthor
                    td 
                    td
                        input(id="author" name="author")
                tr
                    td
                        label(for="barcode")= resources.barcode
                    td *
                    td
                        input(id="barcode" name="barcode")
                tr
                    td 
                        label(for="owner")= resources.bookowner
                    td *
                    td
                        select(id="owner" name="owner")
                            each user in users
                                option(value="#{user.id}")= user.fullname
                tr
                    td(align="right" colspan="2")
                        input(type="submit" value="#{resources.ok}")
                    td
                        input(type="button" id="addcontinue" value="#{resources.continue}")
                        input(type="reset" value="#{resources.reset}")
                        input(type="button" id="back" value="#{resources.back}")
                                         