
extends layout

block script
    script(type="text/javascript").
        $(document).ready(function() {
            $("#frmSearch").on("submit", function(e) {
                e.preventDefault();
                var name = $("#txtName").val().trim();
                var series = $("#txtSeries").val().trim();
                var author = $("#txtAuthor").val().trim();

                if (name.length + series.length + author.length == 0)
                    return;
                    
                this.submit();
            });
        });

block content
    h1 Books

    div.divInput(style="padding:10px;width:750px")
        form(id="frmSearch" method="post" action="/search" style="float:left")
            label(for="txtName") #{resources.bookname}:
            input.searchInput(type="text" id="txtName" name="txtName")
            | &nbsp;
            label(for="txtSeries") #{resources.bookseries}:
            input.searchInput(type="text" id="txtSeries" name="txtSeries")
            | &nbsp;
            label(for="txtAuthor") #{resources.bookauthor}:
            input.searchInput(type="text" id="txtAuthor" name="txtAuthor")
            | &nbsp;&nbsp;&nbsp;
            input(type="submit" value="#{resources.search}")
        
        button(type="submit" style="margin-left:80px" 
               onclick="{location.href='/add'}")= resources.addbook
        
    hr

    table(cellspacing="1")
        tr(bgcolor="#c0c0c0")
            th= resources.index
            th= resources.bookname
            th= resources.bookseries
            th= resources.bookauthor
            th= resources.barcode
            th= resources.bookowner
            th= resources.bookcreate
            th= resources.bookstatus
            th= resources.booklastmodified
            th= resources.op
        - var index = 0
        - each book in books
            - index++
            tr(bgcolor="#eeeeee")
                td= index
                td= book.name
                td= book.series
                td= book.author
                td= book.barcode
                td= book.owner
                td= book.createdate
                td
                    a(href="/#{book.id}/switchto")= book.status
                td= book.lastmodified
                td
                    a(href="/#{book.id}/modify")= resources.modify
                    | &nbsp;&nbsp;&nbsp;
                    a(href="/#{book.id}/delete"
                      onclick="return confirm('Are you sure to delete?');"
                      )= resources.delete
        tr
            td(colspan="8" align="right")           
                a(href="/list") All