extend layout

block script
    script(type="text/javascript").
        $(document).ready(function() {
            $("#frmAdd").on("submit", function(e) {
                e.preventDefault();
                var name = $("#name");
                if (name.val().trim() == "") {
                    alert("#{resources.bookname} cannot be empty");
                    name.focus();
                    return;
                } 

                var barcode = $("#barcode");
                if (barcode.val().trim() == "") {
                    alert("#{resources.barcode} cannot be empty");
                    barcode.focus();
                    return;
                } 

                this.submit();
            });
        });
        
block content
    div.divInput(style="margin-left:100px;padding:30px;width:300px")
        form(id="frmAdd" method="post" action="/#{book.id}/modify")
            table
                tr
                    td 
                        label(for="name")= resources.bookname
                    td *
                    td
                        input(id="name" name="name" value="#{book.name}")
                tr
                    td 
                        label(for="series")= resources.bookseries
                    td 
                    td
                        input(id="series" name="series" value="#{book.series}")
                tr
                    td
                        label(for="author")= resources.bookauthor
                    td 
                    td
                        input(id="author" name="author" value="#{book.author}")
                tr
                    td
                        label(for="barcode")= resources.barcode
                    td *
                    td
                        input(id="barcode" name="barcode" value="#{book.barcode}")
                tr
                    td 
                        label(for="owner")= resources.bookowner
                    td *
                    td
                        select(id="owner" name="owner")
                            each user in users
                                - if (user.id == book.owner)
                                    option(value="#{user.id}"
                                           selected="selected")= user.fullname
                                - else 
                                    option(value="#{user.id}")= user.fullname
                        
                tr
                    td(align="right" colspan="2")
                        input(type="submit" value="#{resources.ok}")
                    td
                        input(type="reset" value="#{resources.reset}")
                        | &nbsp;&nbsp;   
                        button(type="button" onClick="javascript:history.back(-1);"
                              )= resources.back                      